p {
	color: orange;
    width: 300px;
    font-size: 30px;
    line-height: 1.5;
}
h1 {
    color: green;
    
}
h2 {
    color: Blue;
    font-style: italic;
}
h3 {
    color: Red;
}
h4{
    color: rgb(255, 236, 114);
}
h5{
    color: #ff01d5;
}
.fir{
    width: 400px;
    height: 300px;
}
.h1test{
    text-align: right;
}
.h2test{
    text-align: center;
    width: 300px;
}
.tdtest{
    width: 500px;
    text-align: center;
}
.thtest{
    text-align: left;
}
.ptest{
    width: 300px;
    text-align: justify;
}
.tdwidth{
    width: 500px;
    height: 300px; 
    font-weight: bold;
}
.thnowidth{
    font-weight: normal;
}
.h1test2{
    font-size: 50px;
    text-align: center;
}
.h2test2{
    font-size: 40px;
    font-weight: normal;
}
.ptest2{
    font-size: 30px;
}
.pTimes_New_Roman{
    font-family: "Times New Roman";
}
.pArial{
    font-family: "Arial";
}
.pGeorgia{
    font-family: "Georgia";
}
.pVerdana{
    font-family: "Verdana";
}
.pTrebuchetMS{
    font-family: "Trebuchet MS";
}
.pImpact{
    font-family: "Impact";
}
.pArial_Black{
    font-family: "Arial Black";
}
.pComic_Sans_MS{
    font-family: "Comic Sans MS";
}
.pCourier_New{
    font-family: "Courier New";
}
.pdecor{
    text-decoration: underline;
}
.pdecor2{
    text-decoration: overline;
    color: red;
}
.pdecor3{
    text-decoration: line-through;
    color: green;
}
.link{
    text-decoration: none;
    color:red ;
}
.plink{
    color: black;
}
