
h1{
    color: blue;
    font-size: 50px;
    text-align: center;
}
h2{
    color: green;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
p {
    text-align: justify;
    font-size: 20px;
    font-family: Arial;
}
i{
    color:green;
}
ul{
    font-size: 19px;
}